.table-row {
  background: @color-page;
  font-size: @font-size-medium;
}

.tr {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 3rem;
  align-items: center;
}

.td {
  width: 40%;
  justify-content: center;
  text-align: center;
}

.bg-w {
  .bc_white
}

.bg-g {
  .bc_light_blue
}

.bg-h {
  .bc_blue
}

.th {
  .white;
  .bg-h;
  .strong;
  width: 40%;
  justify-content: center;
  display: flex;
  height: 3rem;
  align-items: center;
}

.green{
  color: #09BB07;
}
.red{
  color: #F76260;
}
.blue{
  color: #10AEFF;
}
.yellow{
  color: #FFBE00;
}
.gray{
  color: #C9C9C9;
}
.grey{
  color: #C9C9C9;
}
.white{
  color: snow;
}

.strong{
  font-weight: bold;
}

.bc_white{
  background-color: snow;
}
.bc_green{
  background-color: #09BB07;
}
.bc_red{
  background-color: #F76260;
}
.bc_blue{
  background-color: #10AEFF;
}
.bc_light_blue{
  background-color: #AEFF;
}
.bc_yellow{
  background-color: #FFBE00;
}
.bc_gray{
  background-color: #C9C9C9;
}
